@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300&family=Montserrat:ital@1&family=Noto+Sans+Lao+Looped:wght@300;400&family=Overpass:wght@200&family=Parisienne&family=Playfair+Display:wght@500;700&family=Raleway:wght@100;200;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap%27");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.partOne {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.partOnetitle {
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.partOneLittleTitle {
  color: #808080 !important;
  margin: 30px auto 0;
}

.svg-content {
  width: 44px;
  height: 44px;
  fill: #ffffff;
}

.colorRond {
  background-color: #27c7ce;
  border-radius: 50px;
  height: 88px;
  width: 88px;
  padding: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uForm {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-family: sans-serif;
  /* border: solid aqua 3px; */
}

li.iForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 30px 10px;
  flex: 1 1 300px;
}

.hForm {
  font-weight: 500;
  margin: 35px 0 0;
  line-height: 1.2;
  font-size: 1.25rem;
  color: inherit;
}

.pForm {
  color: #808080 !important;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
  font-style: italic;
  margin: 25px 0 0;
}

.bottomButton {
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
  padding: 10px 30px;
  font-style: initial;
  cursor: pointer;
  border-width: 1px;
  border-color: #27c7ce !important;
  background-color: transparent !important;
  border-style: solid;
  margin: 30px auto 60px;
}

.frameTop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #e7e7e7;
}

.insideWidth {
  width: 70%;
}

.wordLeft {
  width: 50%;
  flex: 1 1 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 64px;
  padding-right: 37px;
  text-align: left;
}

.partTwotitle {
  font-size: 2.25rem;
  margin: 65px 0 0;
}

.partTwolittletitle {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
  margin: 40px 0 0;
}

.picright {
  width: 50%;
  flex: 1 1 540px;
}

.lastPic {
  width: 100%;
  height: 100%;
}

.secondBottomButton {
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
  padding: 10px 30px;
  font-style: initial;
  cursor: pointer;
  border-width: 1px;
  background-color: #27c7ce !important;
  border-style: solid;
  margin: 30px auto 60px;
  border-radius: 22px;
  color: white;
}

.frameBottom {
  background-color: #27c7ce;
  padding: 50px;
}

.trand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.thirdcover {
  /* border: solid 3px red; */
  flex: 1 1 160px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.phraseLeft {
  /* border: solid 3px black; */
  flex: 1 1 400px;
}

.partTwotitlehthree {
  margin: 15px 0 0;
  color: #ffffff !important;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.875rem;
  text-align: left;
}

.partTwolittletitletwo {
  margin: 20px 0 15px;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
  color: #ffffff !important;
  text-align: left;
}

.thirdBottomButton {
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
  padding: 10px 30px;
  font-style: initial;
  cursor: pointer;
  border-width: 1px;
  background-color: #e6e6e6 !important;
  border-style: solid;
  /* margin: 30px auto 60px; */
  border-radius: 22px;
  color: #27c7ce;
}

.partThree {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.thirdTitle {
  margin: 58px auto 0;
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
  /* font-family: Montserrat, sans-serif; */
}

.thirdLittletitle {
  margin: 20px auto 0;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
}

.whiteSpace {
  height: 300px;
}

.thirdthButton {
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
  padding: 10px 30px;
  font-style: initial;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  /* margin: 30px auto 60px; */
  color: #ffffff !important;
  background-color: #000000 !important;
  margin: 30px auto 60px;
  padding: 10px 30px;
}

.end {
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: center;
  height: 133px;
}

.endBag {
  padding-left: 38px;
  padding-right: 38px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endLittleTitle {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  font-size: 0.875rem;
  text-align: center;
}

.final {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 97.6px;
  text-align: center;
  padding: 1em;
  color: #ffffff;
  background-color: #333333;
  font-size: 0.8rem;
}

.onlyColor {
  color: #27c7ce;
}

@media screen and (max-width: 500px) {
  .insideWidth {
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .partTwotitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  .frameBottom,
  .wordLeft {
    padding: 0px;
  }
}

@media screen and (max-width: 500px) {
  .partTwotitlehthree,
  .partTwolittletitletwo {
    text-align: center;
  }
  .thirdBottomButton {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .thirdcover {
    justify-content: start;
  }
}

@media screen and (max-width: 1199px) {
  .whiteSpace {
    height: 236px;
  }
}

@media screen and (max-width: 250px) {
  .final {
    flex-direction: column;
  }
}
